<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UserManager</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid text-center">
    <div><h2>Total of user</h2></div>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" th:href="@{/donate/admin}">Tất cả</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/donate/total}">Đóng góp của từng TNV</a>
            </li>
        </ul>
    </nav>
</div>

<div>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>

            <th>User_ID</th>
            <th>LastName</th>
            <th>FirstName</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="t : ${total}">
            <tr>
                <td th:text="${t.getUserId()}"></td>
                <td th:text="${t.getLastName()}"></td>
                <td th:text="${t.getFirstName()}"></td>
                <td th:text="${#numbers.formatCurrency(t.getTotal())}"></td>
            </tr>
        </th:block>

        </tbody>
    </table>
</div>

</body>

</html>