<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trang đánh giá thành viên</title>
</head>
<body>
<a th:href="@{/}">Quay về danh sách</a>
<h1>Thành viên tên [[${name}]]</h1>
<form th:action="@{/rating/rating_member}" method="post" th:object="${myRating}">
    <input type="hidden" name="eventId" th:value="${eventId}">
    <input type="hidden" name="userId" th:value="${userId}">
    <table>
        <tr>
            <td>Thành viên này có tham gia?</td>
            <td>
                <input type="number" width="400px" name="point4"  max="10" min="0"
                      th:value="${myRating.point4}" placeholder="Chấm trên thang 10">
            </td>
        </tr>
        <tr>
            <td>Thành viên này có đóng góp tích cực?</td>
            <td>
                <input type="number" width="400px" name="point5"  max="10" min="0"
                       th:value="${myRating.point5}"
                       placeholder="Chấm trên thang 10" >
            </td>
        </tr>
        <tr>
            <td>Thành viên sẽ tham gia những hoạt động khác do bạn tổ chức?</td>
            <td>
                <input type="number" width="400px" name="point6"  max="10" min="0"
                       th:value="${myRating.point6}"
                       placeholder="Chấm trên thang 10">
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Send"></td>
            <td><input type="reset" value="Reset"></td>
        </tr>
    </table>
</form>
</body>
</html>