<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event Profile </title>
    <th:blockquote th:include="/header"></th:blockquote>
</head>
<body>
<div class="container">
    <h1>Update your event information</h1>
    <h2>Let them know more about your event mission and primary cause to help them connect to you</h2>
    <form th:action="@{/events/create_event}" method="post">
        <!-- 2 column grid layout with text inputs for the first and last names -->

        <div class="form-outline mb-4">
            <label class="form-label" for="eventName">Tên sự kiện</label>
            <input type="text" id="eventName" class="form-control" name="eventName"/>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="location">Vị trí</label>
            <input type="text" id="location" class="form-control" name="location"/>
        </div>

        <!-- Text input -->
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="beginDate">Ngày bắt đầu</label>
                    <input type="date" id="beginDate" class="form-control" name="beginDate"/>
                </div>
            </div>
            <!-- Text input -->
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="form6Example4">Ngày kết thúc</label>
                    <input type="date" id="form6Example4" class="form-control" name="endDate"/>
                </div>
            </div>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="numOfMem">Số lượng thành viên</label>
            <input type="number" id="numOfMem" class="form-control" name="numOfMem"/>
        </div>

        <!-- Number input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="agePermit">Tuổi cho phép</label>
            <input type="number" id="agePermit" class="form-control" name="agePermit"/>
        </div>

        <!-- Message input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="content"></label>
            <textarea class="form-control" id="content" rows="4" name="content"></textarea>
        </div>
        <!-- Donation input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="donation">Quỹ hiện có</label>
            <input type="number" id="donation" class="form-control" name="donation"/>
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="hostname">Tên người tổ chức cần hiển thị</label>
            <input type="text" id="hostname" class="form-control" name="hostname"/>
        </div>

        <!--    &lt;!&ndash; Checkbox &ndash;&gt;-->
        <!--    <div class="form-check d-flex justify-content-center mb-4">-->
        <!--        <input class="form-check-input me-2" type="checkbox" value="" id="form6Example8" checked />-->
        <!--        <label class="form-check-label" for="form6Example8"> Create an event? </label>-->
        <!--    </div>-->
        <!-- Submit button -->
        <div class="row mb-4 btn-group">
            <button type="button" style="margin-right:10px" class="btn btn-secondary" formaction="/homepage/home">Back to home</button>
            <button type="submit" class="btn btn-primary ">Create an event?</button>
        </div>
    </form>
</div>
</body>
</html>