<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách tất cả thành viên trong sự kiện</title>
    <link rel=”stylesheet” href=”https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css”/>
    <link rel=”stylesheet” href=”https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css”/>
    <link rel="stylesheet" th:href="@{/admin_home/assets/vendors/mdi/css/materialdesignicons.min.css}">
    <div th:replace="~{/header::head_bootstrap}"></div>
</head>
<body>
<div th:replace="~{/header::headMenu}"></div>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a href="#" class="nav-link active">&nbsp;Danh sách thành viên trong sự kiện&nbsp; </a>
                <a th:if="${isHost}" class="nav-link" th:href="@{'/events/waiting_list/'+ ${event.eventId}}">&nbsp;Danh
                    sách thành viên đang chờ duyệt &nbsp;</a>
                <a th:if="${isHost}" class="nav-link" th:href="@{/events/event_rating_list}">Thành viên đánh giá sự
                    kiện</a>
                <a class="nav-link" th:href="@{'/events/host_event/'}">&nbsp;Quay về danh sách sự kiện&nbsp;</a>
            </div>
        </div>
    </nav>
    <h1 class="text-center">Danh sách thành viên</h1>
    <h2 class="text-center"><a th:href="@{'/posts/get?id='+ ${event.eventId}}" th:text="${event.eventName}"></a></h2>
    <table class="table">
        <thead>
        <tr scope="row">
            <th>Member id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Address</th>
            <th>Role</th>
            <th th:if="isHost" th:text="${'Delete'}"></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="member: ${members}">
            <tr scope="row">
                <td th:text="${member.getUser().getUserId()}"></td>
                <td><a th:text="${member.getUser().getFirstName()+' '+ member.getUser().getLastName()}"
                       th:href="@{'/my_account/'+${member.getUser().getUserId()}}"></a></td>
                <td th:text="${member.getUser().getGender()}? Male :Female"></td>
                <td th:text="${member.getUser().getPhoneNum()}"></td>
                <td th:text="${member.getUser().getEmail()}"></td>
                <td th:text="${member.getUser().getAddress()}"></td>
                <td th:text="${member.getEventRole()}"></td>
                <td th:if="${member.user.userId!=host.userId && isHost}">
                    <a data-toggle="modal"
                       th:attr="data-target=${'#confirmDeleteModal'+member.getUser().getUserId()}"><i
                            class="bi bi-trash"></i>Xóa</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>

<!-- Modal confirm delete-->
<div class="modal fade" th:each="member: ${members}" th:attr="id=${'confirmDeleteModal'+member.getUser().getUserId()}"
     tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form th:action="@{'/events/member/delete'}">
            <input type="hidden" name="eId" th:value="${member.event.eventId}">
            <input type="hidden" name="uId" th:value="${member.user.userId}">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xóa thành viên</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn thật sự muốn mời bạn [[${member.user.firstName + ' '+ member.user.lastName}]] ra khỏi nhóm?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Không, tôi ấn nhầm</button>
                    <button type="submit" class="btn btn-primary">
                        Cho bạn ấy rời
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script th:inline="javascript">
    window.onload = function () {
        if ([[${successMes}]] != null) Swal.fire([[${successMes}]]);
        if ([[${failMes}]] != null) Swal.fire([[${failMes}]]);
    }

    function deleteData(type, id) {

    }

</script>
</body>
</html>