<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách tất cả thành viên trong sự kiện</title>
    <div th:replace="~{/header::head_bootstrap}"></div>
</head>
<body>
<div th:replace="~{/header::headMenu}"></div>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a href="#" class="nav-link active">&nbsp;Danh sách thành viên trong sự kiện&nbsp; </a>
                <a class="nav-link" th:href="@{'/events/waiting_list/'+ ${event.eventId}}">&nbsp;Danh sách thành viên
                    đang
                    chờ duyệt &nbsp;</a>
                <a class="nav-link" th:href="@{/events/event_rating_list}">Thành viên đánh giá sự kiện</a>
                <a class="nav-link" th:href="@{'/events/my_event/'}">&nbsp;Quay về danh sách sự kiện&nbsp;</a>
            </div>
        </div>
    </nav>
    <h1 class="text-center">Danh sách thành viên</h1>
    <h2 class="text-center"><a th:href="@{'/posts/get?id='+ ${event.eventId}}" th:text="${event.eventName}"></a></h2>
    <table class="table">
        <thead>
        <tr scope="row">
            <th>Member id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Gender</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Address</th>
            <th>Role</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="member: ${members}">
            <tr scope="row">
                <td th:text="${member.getUser().getUserId()}"></td>
                <td th:text="${member.getUser().getFirstName()}"></td>
                <td th:text="${member.getUser().getLastName()}"></td>
                <td th:text="${member.getUser().getGender()}? Male :Female"></td>
                <td th:text="${member.getUser().getPhoneNum()}"></td>
                <td th:text="${member.getUser().getEmail()}"></td>
                <td th:text="${member.getUser().getAddress()}"></td>
                <td th:text="${member.getEventRole()}"></td>
                <td><a th:href="@{'/events/member/delete/'+${member.getUser().getUserId()}}"></a></td>
            </tr>
        </th:block>
        </tbody>
        <tr>

        </tr>
    </table>
</div>
</body>
</html>