<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update my event </title>
    <th:blockquote th:include="/header"></th:blockquote>
    <hr>
</head>
<body>
<div class="container">
    <h1 class="text-center">Update your event here</h1>
    <h2 class="text-center">Let them know more about your event mission and primary cause to help them connect to
        you</h2>
    <form th:action="@{/events/update_event}" method="post">
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <input type="hidden" name="eId" th:value="${event.eventId}">
        <div class="form-outline mb-4">
            <label class="form-label" for="eventName">Tên sự kiện</label>
            <input type="text" id="eventName" class="form-control" name="eventName" th:value="${event.eventName}"
                   required/>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="location">Vị trí</label>
            <input type="text" id="location" class="form-control" name="location" th:value="${event.location}"
                   required/>
        </div>

        <!-- Text input -->
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="beginDate">Ngày bắt đầu</label>
                    <input type="date" id="beginDate" class="form-control" name="beginDate"
                           th:value="${event.beginTime}" required/>
                </div>
            </div>
            <!-- Text input -->
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="form6Example4">Ngày kết thúc</label>
                    <input type="date" id="form6Example4" class="form-control" name="endDate"
                           th:value="${event.endTime}" required/>
                </div>
            </div>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="numOfMem">Số lượng thành viên</label>
            <input type="number" id="numOfMem" class="form-control" name="numOfMem" th:value="${event.numOfMem}"
                   required/>
        </div>

        <!-- Number input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="agePermit">Tuổi cho phép</label>
            <input type="number" id="agePermit" class="form-control" name="agePermit" th:value="${event.age}"/>
        </div>

        <!-- Message input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="content">Nội dung mô tả sự kiện</label>
            <textarea class="form-control" id="content" rows="4" name="content"
                      th:inline="text" required>[[${event.post.content}]]</textarea>
        </div>
        <!--<!-     <input type="hidden" name="id" th:value="${}">-->
        <div class="row mb-4 btn-group">
            <button type="button" style="margin-right:10px" class="btn btn-secondary" formaction="/events/host_event">
                Back
                to home
            </button>
            <button type="submit" class="btn btn-primary ">Update event?</button>
        </div>
    </form>
</div>
</body>
</html>