<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form th:action="@{/posts/donation}" th:method="post">
        <input type="hidden" name="postId" th:value="${postId}">
        Donation : <input type="text" name="donation" id="keyword" size="50" th:value="${donation}"/>
        <input type="submit" value="donation"/>
        <input type="button" value="Clear" id="btnClear" onclick="clearSearch()"/>
    </form>
</div>
</body>

</html>