<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
    <!--    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
    <!--    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!------ Include the above in your HEAD tag ---------->
    <meta charset="UTF-8">
    <title>Profile</title>
</head>

<script type="text/javascript">
    function ChangeDisplay(val1, val2) {
        document.getElementById(val1).style.display = 'block';

        document.getElementById(val2).style.display = 'none';

    }
</script>

<style>
    body {
        background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    }

    .emp-profile {
        padding: 3%;
        margin-top: 3%;
        margin-bottom: 3%;
        border-radius: 0.5rem;
        background: #fff;
    }

    .profile-img {
        text-align: center;
    }

    .profile-img img {
        width: 70%;
        height: 100%;
    }

    .profile-img .file {
        position: relative;
        overflow: hidden;
        margin-top: -20%;
        width: 70%;
        border: none;
        border-radius: 0;
        font-size: 15px;
        background: #212529b8;
    }

    .profile-img .file input {
        position: absolute;
        opacity: 0;
        right: 0;
        top: 0;
    }

    .profile-head h5 {
        color: #333;
    }

    .profile-head h6 {
        color: #0062cc;
    }

    .profile-edit-btn {
        border: none;
        border-radius: 1.5rem;
        width: 70%;
        padding: 2%;
        font-weight: 600;
        color: #6c757d;
        cursor: pointer;
    }

    .proile-ratingEvent {
        font-size: 12px;
        color: #818182;
        margin-top: 5%;
    }

    .proile-ratingEvent span {
        color: #495057;
        font-size: 15px;
        font-weight: 600;
    }

    .profile-head .nav-tabs {
        margin-bottom: 5%;
    }

    .profile-head .nav-tabs .nav-link {
        font-weight: 600;
        border: none;
    }

    .profile-head .nav-tabs .nav-link.active {
        border: none;
        border-bottom: 2px solid #0062cc;
    }

    .profile-work {
        padding: 14%;
        margin-top: -15%;
    }

    .profile-work p {
        font-size: 12px;
        color: #818182;
        font-weight: 600;
        margin-top: 10%;
    }

    .profile-work a {
        text-decoration: none;
        color: #495057;
        font-weight: 600;
        font-size: 14px;
    }

    .profile-work ul {
        list-style: none;
    }

    .profile-tab label {
        font-weight: 600;
    }

    .profile-tab p {
        font-weight: 600;
        color: #0062cc;
    }
</style>
<body onload="ChangeDisplay('home','profile')">
<div th:replace="~{/header::headMenu}"></div>
<div class="container emp-profile">
    <div class="row">
        <div class="col-md-4">

            <div class="profile-img">
                <img th:src="@{${myUser.avatar}}"
                     alt="img" height="250px"/>

            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                <h5 th:text="${myUser.firstName} + ' ' + ${myUser.lastName}">

                </h5>


                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="" role="tab"
                           aria-controls="home" aria-selected="true" onclick="ChangeDisplay('home','profile')">Thông
                            tin cá nhân</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="" role="tab"
                           aria-controls="profile" aria-selected="false" onclick="ChangeDisplay('profile','home')">Lịch
                            sử tham gia hoạt động</a>
                    </li>
                    <!--                    Đang chỉnh nhưng js này lạ-->
                    <!--                    <li class="nav-item">-->
                    <!--                        <a class="nav-link active" id="event_active" data-toggle="tab" href="" role="tab"-->
                    <!--                           aria-controls="profile" aria-selected="false" onclick="ChangeDisplay('profile','home')">Hoạt động đang tham gia</a>-->
                    <!--                    </li>-->

                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <input th:if="${validUser}" type="button" data-toggle="modal"
                   data-target="#editprofile" class="profile-edit-btn" name="editprofile" value="Edit Profile"/>
        </div>

        <!-- Begin Model 2-->
        <div class="modal" tabindex="-1" role="dialog" id="editprofile">
            <div class="modal-dialog">
                <form th:if="${validUser}" th:action="@{/my_account/edit_user}" th:object="${userEdit}" method="post">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Điều chỉnh thông tin cá nhân</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label>Volunteer Id</label>
                                <input type="text" class="form-control" id="firstName"
                                       name="firstName" readonly th:field="*{userId}">
                                <br>
                                <label>First Name</label>
                                <input type="text" class="form-control" id="firstName"
                                       name="firstName" th:field="*{firstName}">
                                <br>
                                <label>Last Name</label>
                                <input type="text" class="form-control" id="lastName"
                                       name="lastName" th:field="*{lastName}">
                                <br>
                                <label>Email</label>
                                <input type="email" class="form-control" id="email"
                                       name="email" th:field="*{email}">
                                <br>
                                <label>Phone Number</label>
                                <input type="number" class="form-control" id="phoneNum"
                                       name="phoneNum" th:field="*{phoneNum}">
                                <br>
                                <label>Gender</label>
                                <select th:field="*{gender}" class="form-control">
                                    <option th:value="Male" th:text="Nam"></option>
                                    <option th:value="Female" th:text="Nữ"></option>
                                </select>
                                <br>
                                <label>Address</label>
                                <input type="text" class="form-control" id="address"
                                       name="address" th:field="*{address}">
                            </div>
                            <button type="submit" class="btn btn-default">Hoàn thành</button>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- End Model 2-->

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="profile-work">
                <form th:if="${validUser}" th:action="@{/my_account/upload}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Edit avatar</label>
                        <input type="file" name="image" accept="image/*" class="form-control-file">
                    </div>
                    <button type="submit" class="btn btn-primary">Upload image</button>
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Volunteer Id</label>
                        </div>
                        <div class="col-md-6">
                            <p th:text="${myUser.userId}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Name</label>
                        </div>
                        <div class="col-md-6">
                            <p th:text="${myUser.firstName} + ' ' + ${myUser.lastName}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email</label>
                        </div>
                        <div class="col-md-6">
                            <p th:text="${myUser.email}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Phone Number</label>
                        </div>
                        <div class="col-md-6">
                            <p th:text="${myUser.phoneNum}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Gender</label>
                        </div>
                        <div class="col-md-6">
                            <p th:text="${myUser.gender}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Address</label>
                        </div>
                        <div class="col-md-6">
                            <p th:text="${myUser.address}"></p>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="list-group">
                        <th:block th:each="rating : ${RatingHistory}">
                            <a th:href="@{/posts/get(id=${rating.getUserEvent().getEvent().getEventId()})}"
                               class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1" th:text="${rating.getUserEvent().getEvent().getEventName()}">
                                        EventName</h5>
                                    <small th:text="${#dates.format(rating.getUserEvent().getEvent().getBeginTime(), 'dd-MMM-yyyy')}+ ' - ' + ${#dates.format(rating.getUserEvent().getEvent().getEndTime(), 'dd-MMM-yyyy')}">eventtime</small>
                                </div>
                                <p class="mb-1">Đánh giá về sự kiện của tôi: </p>
                                <span class="mb-1">Tính hữu ích của sự kiện : </span>&nbsp;

                                <span th:text="${rating.point1}" th:if="${rating.point1 != -1}">Point1</span>
                                <span th:text="${rating.point1}"
                                      th:if="${rating.point1 == -1}">Chưa có đánh giá</span>

                                <br>
                                <span class="mb-1">Tính thú vị, hứng thú của sự kiện : </span>&nbsp;

                                <span th:text="${rating.point2}" th:if="${rating.point2 != -1}">Point2</span>
                                <span th:text="${rating.point2}"
                                      th:if="${rating.point2 == -1}">Chưa có đánh giá</span>

                                <br>
                                <span class="mb-1">Tính chuyên nghiệp của chủ sự kiện : </span>&nbsp;

                                <span th:text="${rating.point3}" th:if="${rating.point3 != -1}">Point3</span>
                                <span th:text="${rating.point3}"
                                      th:if="${rating.point3 == -1}">Chưa có đánh giá</span>

                                <br>
                                <p class="mb-1">Đánh giá của chủ sự kiện về tôi: </p>
                                <span class="mb-1">Thái độ tham gia : </span>&nbsp;

                                <span th:text="${rating.point4}" th:if="${rating.point4 != -1}">Point4</span>
                                <span th:text="${rating.point4}"
                                      th:if="${rating.point4 == -1}">Chưa có đánh giá</span>

                                <br>
                                <span class="mb-1">Sự chuyên nghiệp : </span>&nbsp;

                                <span th:text="${rating.point5}" th:if="${rating.point5 != -1}">Point5</span>
                                <span th:text="${rating.point5}"
                                      th:if="${rating.point5 == -1}">Chưa có đánh giá</span>

                                <br>
                                <span class="mb-1">Khả năng đóng góp cho sự kiện: </span>&nbsp;

                                <span th:text="${rating.point6}" th:if="${rating.point6 != -1}">Point2</span>
                                <span th:text="${rating.point6}"
                                      th:if="${rating.point6 == -1}">Chưa có đánh giá</span>
                            </a>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>